header#masthead.bg-dark.d-flex.flex-column
  h1.logo.mb-5
  .container.flex-grow
    .row.position-fixed.w-100
      .col-md-6

        .card.text-white.mt-0.mt-lg-5.bg-gradient
          .card-header
            | The beautiful...
          .card-body
            img(src= "http://placecage.com/220/301", class="img-fluid")
            a.btn.btn-secondary(href='#') Go somewhere
          .card-footer
            a(href="admin") admin
            | 2 days ago
