#partner.bg-light.py-5
  .container.text-center
    h2.text-uppercase Partner
    .row.py-5
      .col-md-3.col-6.mb-3
        img(src= "http://placecage.com/320/201", class="img-fluid")
      .col-md-3.col-6.mb-3
        img(src= "http://placecage.com/300/200", class="img-fluid")
      .col-md-3.col-6.mb-3
        img(src= "http://placecage.com/300/202", class="img-fluid")
      .col-md-3.col-6.mb-3
        img(src= "http://placecage.com/301/204", class="img-fluid")

