#videos
  .container
    .py-5
      .p-5
        h2.text-center.mb-4.text-uppercase Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        p Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec ullamcorper nulla non metus auctor fringilla. 

  .bg-dark
    .container
      .row.px-3
        .col-md-6.px-0.position-relative
          img.w-100(src= "https://www.placecage.com/400/303", class="img-fluid")
        .col-md-6.d-flex.flex-column.justify-content-center.px-5.order-md-first.py-3.py-md-0.bg-dark
          h1 Cage, - 28
          p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus 
          button.polygon1.btn.btn-primary.align-self-center#player1button
            i.fa.fa-play.px-2
      .row.px-3
        .col-md-6.px-0.position-relative
          img.w-100(src= "https://www.placecage.com/405/302", class="img-fluid")
        .col-md-6.d-flex.flex-column.justify-content-center.px-5.py-3.py-md-0.bg-dark
          h1 Nicole, - 49
          p Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum.
          button.polygon1.btn.btn-primary.align-self-center#player2button
            i.fa.fa-play.px-2

      .row.px-3
        .col-md-6.px-0.position-relative
          img.w-100(src= "https://www.placecage.com/401/302", class="img-fluid")
        .col-md-6.d-flex.flex-column.justify-content-center.px-5.order-md-first.py-3.py-md-0.bg-dark
          h1 Nicolas, - 19
          p Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum.
          button.polygon1.btn.btn-primary.align-self-center#player3button
            i.fa.fa-play.px-2






