#we.py-5
  .container.my-5
    .mx-5
      h3.mb-4 Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      p Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue

  .row.mt-5
    .col-lg-3.col-md-5.col-sm-6.d-flex.flex-column.justify-content-end
      .bg-gradient.p-5.text-white
        p.mt-3 Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.
    .col-lg-3.offset-lg-6.col-md-5.col-sm-6.offset-md-2
      .bg-gradient.p-5.text-white
        p.mt-3 Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nib
