extends admin

block content
  .h-100.d-flex.flex-column.justify-content-center.bg-light
    div.col-sm-6.offset-sm-3.col-md-4.offset-md-4.text-center.d-table
      img(src= "http://placecage.com/201/201", class="img-fluid rounded-circle")
      h3.text-center.login-title Pleas sign in!
      form.connected-form(class='form-signin py-3 py-sm-0', action='login', method='POST')
        input(type='text', name='email' class='form-control form-control-lg', placeholder='Email',required, autofocus)
        input(type='password', name='password' class='form-control form-control-lg', placeholder='Password', required)
        .checkbox.my-3
          label
            input(type='checkbox', value='remember-me')
            |  Remember me

        button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
        small © 2017-2018

      #message
      if message
        h1.text-center.error-message #{message}
